<!-- Filters -->
<div class="card my-8">
  <ul class="nav">
    <!-- by title  -->
    <li class="nav-item-text">
      <form class="example-form">
        <mat-form-field class="input-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="filterQuery.title"
            name="title"
            id="titleFilter"
            (ngModelChange)="filterTitle()"
            [matAutocomplete]="auto"
          />
          <mat-button
            class="btn btn-default close-button"
            *ngIf="filterQuery.title"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearTitle()"
          >
            <mat-icon class="my-color-icon">close</mat-icon>
          </mat-button>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </li>
  </ul>

  <ul class="nav">
    <!-- by start year -->
    <li class="nav-item-text">
      <mat-form-field appearance="fill">
        <mat-label>From year...</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="filterQuery.yearStart"
          id="yearStartFilter"
          (ngModelChange)="filterYearStart()"
        />
      </mat-form-field>
    </li>

    <!-- by end year -->
    <li class="nav-item-text">
      <mat-form-field appearance="fill">
        <mat-label>To year...</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="filterQuery.yearEnd"
          id="yearEndFilter"
          (ngModelChange)="filterYearEnd()"
        />
      </mat-form-field>
    </li>

    <!-- by min avg rate -->
    <li class="nav-item-text">
      <mat-form-field appearance="fill">
        <mat-label>Min. average rate...</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="filterQuery.minAvgRating"
          id="minAvgRateFilter"
          (ngModelChange)="filterMinAvgRate()"
        />
      </mat-form-field>
    </li>

    <!-- by min rates -->
    <li class="nav-item-text">
      <mat-form-field appearance="fill">
        <mat-label>Min. rates...</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="filterQuery.minRateCount"
          id="minRatesFilter"
          (ngModelChange)="filterMinRates()"
        />
      </mat-form-field>
    </li>
  </ul>

  <ul class="nav">
    <!-- by directors -->
    <li class="nav-item-text">
      <div *ngFor="let director of directors; let i = index" class="form-group">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            (change)="filterDirectors()"
            placeholder="Director name..."
            id="directorFilter{{ i }}"
            aria-label="Recipient's username with two button addons"
            aria-describedby="button-addon4"
          />
          <div *ngIf="i == 0" class="input-group-append" id="button-addon4">
            <span *ngIf="this.directors.length < 3" class="input-group-btn">
              <button
                class="btn btn-default"
                type="button"
                (click)="addDirector()"
              >
                <mat-icon class="my-color-icon">plus_one</mat-icon>
              </button>
            </span>
            <span *ngIf="this.directors.length > 1" class="input-group-btn">
              <button
                class="btn btn-default"
                type="button"
                (click)="removeDirector(i)"
              >
                <mat-icon class="my-color-icon">exposure_minus_1</mat-icon>
              </button>
            </span>
          </div>
        </div>
      </div>
    </li>

    <!-- by cast -->
    <li class="nav-item-text">
      <div *ngFor="let actor of cast; let i = index" class="form-group">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            (change)="filterCast()"
            placeholder="Actor name..."
            id="actorFilter{{ i }}"
            aria-label="Recipient's username with two button addons"
            aria-describedby="button-addon4"
          />
          <div *ngIf="i == 0" class="input-group-append" id="button-addon4">
            <span *ngIf="this.cast.length < 5" class="input-group-btn">
              <button
                class="btn btn-default"
                type="submit"
                (click)="addActor()"
              >
                <mat-icon class="my-color-icon">plus_one</mat-icon>
              </button>
            </span>
            <span *ngIf="this.cast.length > 1" class="input-group-btn">
              <button
                class="btn btn-default"
                type="submit"
                (click)="removeActor(i)"
              >
                <mat-icon class="my-color-icon">exposure_minus_1</mat-icon>
              </button>
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- Items table -->
<div class="card my-5">
  <div class="card-body">
    <mat-paginator
      #paginator
      [pageIndex]="pageIndex"
      [length]="totalItems"
      [pageSize]="numRows"
      [pageSizeOptions]="[20, 50, 100]"
      aria-label="Go to page..."
      (page)="loadPage($event)"
    >
    </mat-paginator>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th mat-sort-header="position" scope="col">
            Position
            <button class="dateOrderButton" (click)="positionOrder()">
              <mat-icon class="icon">swap_vert</mat-icon>
            </button>
          </th>
          <th scope="col">Title</th>
          <th scope="col">
            Year
            <button class="dateOrderButton" (click)="yearOrder()">
              <mat-icon class="icon">swap_vert</mat-icon>
            </button>
          </th>
          <th scope="col">
            Avg. rating
            <button class="dateOrderButton" (click)="avgOrder()">
              <mat-icon class="icon">swap_vert</mat-icon>
            </button>
          </th>
          <th scope="col">
            Rates
            <button class="dateOrderButton" (click)="ratesOrder()">
              <mat-icon class="icon">swap_vert</mat-icon>
            </button>
          </th>
          <th scope="col">Director/s</th>
          <th scope="col">Cast</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td style="width: 12%">{{ item.position }}</td>
          <td style="width: 38%">{{ item.title }}</td>
          <td style="width: 10%">{{ item.year }}</td>
          <td style="width: 15%">{{ item.avg_rating | number }}</td>
          <td style="width: 10%">{{ item.rate_count | number }}</td>
          <td style="width: 10%">
            <span
              *ngFor="let director of item.director"
              class="badge badge-secondary"
              >{{ director }}<br
            /></span>
          </td>
          <td style="width: 10%">
            <span *ngFor="let actor of item.cast" class="badge badge-secondary"
              >{{ actor }}<br
            /></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
